<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>{{selectedUser.name}}</title>
</head>

<body>

  <!-- navbar stuff -->
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <a href="/" class="btn btn-secondary btn-lg">Home</a>
      <a href="/profile?key={{currentUser.key.urlsafe()}}" class="btn btn-secondary btn-lg">My Profile</a>
      <form class="form-inline my-2 my-lg-0" method="get" action="/search">
        <input class="form-control mr-sm-2" type="search" name="queryInput" placeholder="Search User" aria-label="Search">
        <input type="submit" name="button" value="Search" class="btn btn-outline-success my-2 my-sm-0">
      </form>
    </nav>


    <div class="jumbotron" style="display:flex;">
      <!-- user details -->
      <section style="padding: 1em;">
        <p>Name: {{selectedUser.name}}</p>
        <p>Email: {{selectedUser.email}}</p>
        <p><a href="/followDetails?key={{selectedUser.key.urlsafe()}}&followString=followers" class="btn btn-outline-success my-2 my-sm-0">Followers: {{followers}}</a>
          <a href="/followDetails?key={{selectedUser.key.urlsafe()}}&followString=following" class="btn btn-outline-success my-2 my-sm-0">Following: {{following}}</a>
        </p>
        {%if currentUser != selectedUser:%}
        <p>
          <form action="/profile?currentUser={{currentUser.key.urlsafe()}}&selectedUser={{selectedUser.key.urlsafe()}}" method="post">
            <input type="submit" name="button" value="{{followString}}" class="btn btn-primary">
          </form>
        </p>
        {%endif%}
      </section>
    </div>

    <!-- section for posts -->
    {%for post in allPosts%}
    <form action="/profile?currentUser={{currentUser.key.urlsafe()}}&selectedUser={{selectedUser.key.urlsafe()}}" method="post">

      <section class="jumbotron" style=" width: 65%; margin-left: 10em;">
        <a href="/profile?key={{post.user.urlsafe()}}" class="btn btn-light"><h4>@{{post.user.get().name}}</h4></a>
        <figure style="padding: 1em;">
          <figcaption>{{post.caption}}</figcaption>
          <img src="/download?post={{post.key.id()}}" alt="{{post.caption}}" style="width:100%">
          <figcaption>{{post.date}}</figcaption>

          <!-- div to show comments -->
          <div>
            {%for comment in post.comments[:5]:%}
            <p><b>{{comment.author.get().email}}:</b> {{comment.text}}</p>
            {%endfor%}
            <!-- if the post have more than 5 comments -->
            {%if post.comments[5:]%}
            <div id="restOfComments" class="collapse">
              {%for comment in post.comments[5:]:%}
              <p><b>{{comment.author.get().email}}:</b> {{comment.text}}</p>
              {%endfor%}
            </div>
            <button type="button" class="btn btn-outline-dark" data-toggle="collapse" data-target="#restOfComments">Expand Comments</button>
            {%endif%}
          </div>
          <br>

          <!-- div to add comments -->
          <div class="input-group mb-3">
            <input type="hidden" name="postKey" value="{{post.key.id()}}">
            <input type="text" class="form-control" maxlength="200" name="addComment" placeholder="Add Comment" aria-label="Add Comment" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <input type="submit" name="button" value="Add Comment" class="input-group-append input-group-text">
            </div>
          </div>



        </figure>
      </section>
    </form>

    {%endfor%}
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
